* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
}

a {
    text-decoration: none;
}

.black {
    color: black;
}
.white{
    color: white;
}

.fl {
    float: left;
}

.fl::after {
    content: "";
    display: table;
    clear: both;
}

.fr {
    float: right;
}

.fr::after {
    content: "";
    display: table;
    clear: both;
}

.strong {
    font-weight: 800;
}


.title {
    font-size: 57px;
    margin-top: 70px;
}
/*------------------------------*/

header {
    background-color: rgb(105, 174, 252);
    height: 700px;
}

.navbar {
    background-color: white;
    height: 80px;
}

.logo-container {
    width: 200px;
    margin: 10px 15px ;
}

.logo-container img{
    width: 150px;
}

.list ul{
    list-style: none;
}

.list ul li {
    margin: 20px 0 20px 5px;
    padding-left: 15px;
}

.list a {
    color: black;
}

.inizia {
    margin: 20px 15px 0 10px;
    padding-left: 15px;
    padding-top: 3px;
    width: 70px;
    height: 30px;
    border: 1px blue solid;
    background-color: blue;
}

.list-right ul {
    list-style: none;
}

.list-right ul li {
    margin: 20px 5px 20px 0;
    padding-right: 15px;
}
 
.text-container{
    width: 1000px;
    margin: 0 auto;
}


.text {
    float: left;
    width: 350px;
    margin-top: 30px;
}

.text::after {
    content: "";
    display: table;
    clear: both;
}

.jumbo img{
    float: left;
    width: 700px;
    margin-top: 60px;
    margin-left: 40px;
}

.jumbo img::after {
    content: "";
    display: table;
    clear: both;
}


.free {
    width: 250px;
    height: 40px;
    border: 1px blue solid;
    background-color: blue;
    margin-top: 25px;
    margin-bottom: 30px;
    padding-top: 6px;
    padding-left: 25px;
}

.row {
    margin-left: 280px;
    height: 1000px;
}

.row-title {
    width: 800px;
    margin: 80px 0 40px 40px;

}

.row-title p {
    font-size: 40px;
}

.row input{
    margin-bottom: 30px;
}

.box-left {
    float: left;
    border: 1px gray solid;
    width: 300px;
    height: 800px;

}

.box-left::after {
    content: "";
    display: table;
    clear: both;
}


.box-center {
    float: left;
    margin-left: 30px;
    margin-right: 30px;
    border: 1px gray solid;
    width: 300px;
    height: 800px;

}

.box-center::after {
    content: "";
    display: table;
    clear: both;
}

.box-right {
    float: left;
    border: 1px gray solid;
    width: 300px;
    height: 800px;

}

.box-right::after {
    content: "";
    display: table;
    clear: both;
}

.row-content-clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.option {
    border: 1px grey solid;
    height: 30px;
}

.box-p {
    padding-left: 90px;
}

.descrizione {
    margin: 40%;
}

.descrizione h3 {
    padding-bottom: 20px;
}

.descrizione p {
    padding-bottom: 20px;
    font-size: 12px;
}

.funzioni {
    margin-left: 20px;
    font-size: 13px;
}

.funzioni p {
    padding-bottom: 10px;
}

.button {
    background-color: blue;
    height: 30px;
    width: 220px;
    margin: 10px 0 20px 30px;
    padding-left: 15px;
    padding-top: 5px;
}

.nofantasia {
    margin: 30px 0 0 20px;
    font-size: 15px; 
}

.nofantasia p {
    margin-bottom: 20px;
}

.nofantasia ul li{
    list-style: none;
}

.nofantasia li {
    line-height: 30px;
}

.link p {
    margin-left: 20px;
}


.box-3 {
    width: 1000px;
    height: 300px;
    border: 1px grey solid;
    margin-top: 40px;
    margin-right: 30px;
}

.option2 {
    border: 1px grey solid;
    height: 30px;
    padding-left: 450px;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
}

.enterprise {
    float: left;
    line-height: 40px;
    margin-top: 40px;
    margin-left: 40px;
}

.size {
    font-size: 32px;

}

.button-box3 {
    float: left;
    width: 300px;
    padding-left: 65px;
    padding-top: 5px;
    margin-left: 300px ;
    margin-top: 50px;
    background-color: blue;
    height: 30px;

}

.inizio-rigo {
    margin-top: 140px;
    margin-left: 40px;
}

.page-3 {
    margin-top: 200px;
    height: 400px;
}

.page-3-container-img img {   
    float: left;
    width: 450px;
    margin-top: 200px;
    margin-left: 200px;
}

.page-3-text {
    float: left;
    width: 600px;
    margin: 350px 100px 100px 60px ;
}

.page-3::after {
    content: "";
    display: table;
    clear: both;
}

.size-2 {
    font-size: 32px;
}

.page-3-button {
    height: 35px;
    width: 150px;
    margin-top: 30px;
    padding: 5px 0 0 8px;
    border: 1px black solid;
}

.page-3-button a {
    color: black;
}

h1 {
    margin-left: 200px;
}

.jumbotron::after {
    content: "";
    display: table;
    clear: both;
}

.jumbotron {
    margin-top: 100px;
}

.jumbotron img {
    width: 200px;
}


.jumbo-text strong{
    font-size: 24px;
}

.jumbo-text p {
    padding-bottom: 30px;
}
.cubo-1{
    float: left;
    width: 300px;
    margin-left: 200px;
}


.cubo-2{
    float: left;
    width: 300px;
    margin: 0 40px 0 40px;
}


.cubo-3{
    float: left;
    width: 300px;   
}

.cubo-4{
    float: left;
    width: 300px;
    margin-left: 200px;
}

.cubo-5{
    float: left;
    width: 300px;
    margin: 0 40px 0 40px;
}

.cubo-6{
    float: left;
    width: 300px;
}

.filter h1 {
    padding-right: 900px;
    margin-top: 200px;
    margin-bottom: 30px;
}

.filter a {
    text-decoration: underline;
    margin-left: 200px;
}

.filter::after{
    content: "";
    display: table;
    clear: both;
}

.filter-left {
    margin-top: 30px;
    margin-left: 80px;
    height: 300px;
    width: 30%;
    background-color: red;
}

.filter-center {
    margin-top: 30px;
    height: 300px;
    width: 30%;
    background-color: whitesmoke;
}

.filter-right {
    margin-top: 30px;
    height: 300px;
    width: 30%;
    background-color: red;
}

.logo {
    width: 50%;
    height: 50%;
    position: relative;
}

.logo2 {
    width: 50%;
    height: 50%;
    position: relative;
}

.logo2 img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.logo img {
    width: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    filter: invert(100%);
}

#verde {
    background-color: rgb(121, 247, 121);
}

#marrone {
    background-color: maroon;
}

#blu {
    background-color: rgb(123, 229, 248);
}

.rosso {
    background-color: red;
}

#celeste {
    background-color: rgb(102, 163, 255);
}

#blu-scuro {
    background-color: rgb(0, 0, 190);
}

#giallo {
    background-color: yellow;
}

.filter-text {
    font-size: 12px;
    padding: 0 10px 0 10px;
}

.filter-celeste {
    background-color: rgb(102, 163, 255);
    margin-left: 80px;
    height: 250px;
    width: 1300px;
}

.filter-celeste::after {
    content: "";
    display: table;
    clear: both;
}

.filter-c-title {
    float: left;
    width: 600px;
    height: 150px;
    padding-top: 80px;
}

.filter-c-button {
    float: right;
    width: 300px;
    height: 30px;
    background-color: white;
    margin-top: 100px;
    margin-right: 220px;
    padding: 5px 0 0 50px ;
}

.question-box {
    margin-top: 60px;
    margin-left: 250px;
    margin-right: 250px;
}

.question-box h2 {
    margin-bottom: 50px;
}
.question {
    padding-bottom: 40px;
    padding-top: 40px;
}

footer {
    height: 600px;
    background-color: black;
    margin-top: 80px;
}

.drop::after {
    content: "";
    display: table;
    clear: both;
}

.margin {
    margin-left: 100px;
}

.drop p {
    margin-bottom: 20px;
}

.drop ul li {
    list-style: none;
    
}
.drop {
    float: left;
    width: 200px;
    margin-top: 100px;
    margin-right: 50px;
    line-height: 20px;
}

.linea-d {
    padding-top: 400px;
    margin-left: 100px;
    width: 50px;
    border-bottom: 1px grey solid;
}